*{
    margin:0 auto;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: #9acd324d;
}

.header {
    width:100%;
    height:50px;
    background-color: black;
    font-size: 2rem;
}

.index-icon {
    text-decoration: none;
    background-color: #5a5a5a;
    padding:5px 4px;
    color:white;
}

.container{
    width:100%;
    height: 100%;
    margin:0;
    padding:0;
}

.container::after{
    content: '';
	clear: both;
	display: table;
}

.menu {
    width:230px;
    background-color: darkcyan;
    height:100%;
    float:left;
}

.menu ul{
    list-style: none;
}

.menu ul li a {
    font-size: 1.7rem;
    text-decoration: none;
    color: white;
    line-height: 2.5;
    padding-left:20px;
}


.content{
    width:auto;
    margin-left:350px;
    padding:20px;
    height:100%;
}

.registration table{
    margin:0;
    width:40%;
}

.registration{
    text-align: left;
}

.entry{
    background-color: #00d0ff;
}

.table.is-hoverable tbody tr:not(.is-selected):hover{
    background-color: rgb(47, 248, 255);
}

.hidden{
    display: none;
}

.ex1{
    max-width: 10%;
}

.schedbutton {
    margin-top:10px;
}

.selected{
    background-color: #08b7b7;
}

.matchlist{
    margin-top:100px;
}

.tabsched table{
    width: 80%;
}    
.tabcolor{
    background-color: #01d3e6;
    color:white;
}

.ered td{
    text-align: center;
}

.ered .input{
    width:25%;
}