*{
    margin:0 auto;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: #9acd324d;
}

.header {
    width:100%;
    height:50px;
    background-color: black;
    font-size: 2rem;
}

.index-icon {
    text-decoration: none;
    background-color: #5a5a5a;
    padding:5px;
    color:white;
}

.container{
    width:100%;
    height: 100%;
    margin:0;
    padding:0;
}

.container::after{
    content: '';
	clear: both;
	display: table;
}

.menu {
    width:198px;
    background-color: darkcyan;
    height:100%;
    float:left;
}

.menu ul{
    list-style: none;
}

.menu ul li a {
    font-size: 1.7rem;
    text-decoration: none;
    color: white;
    line-height: 2.5;
}


.content{
    width:auto;
    margin-left:210px;
    padding:20px;
    height:100%;
}

.content table{
    margin:0;
    width:33%;
}

.registration{
    text-align: left;
}

.table{
    background-color: #00d0ff;
}

.table.is-hoverable tbody tr:not(.is-selected):hover{
    background-color: greenyellow;
}